# .env-example

# JWT Configuration
JWT_KEY= YourSuperSecretKeyHereThatIsAtLeast32CharsLong
JWT_ISSUER= http://localhost:5000   # Cambia esto si tu aplicación corre en otro puerto o dominio
JWT_AUDIENCE= http://localhost:5001 # Cambia esto si tu API corre en otro puerto o dominio

# Otros valores de configuración pueden ir aquí si los necesitas
# DB_CONNECTION_STRING=YourDatabaseConnectionStringHere
